extends layout

block content
    h1 Convert Files Process Id: #{procid}
    p inputPath: #{inputPath}
    p overlayLayerName: #{overlayLayerName}
    p overlayPngPath: #{overlayPngPath}
    p outputPath: #{outputPath}
    p basename: #{basename}
    p basepng: #{basepng}
    p finalpng: #{finalpng}
    br
    h4 Error Code: #{errorcode}

