extends layout

block content
    h1 Convert Files Process Id: #{procid}
    p inputPath: #{inputPath}
    p overlayLayerName: #{overlayLayerName}
    p outputPath: #{outputPath}
    p basename: #{basename}
    p Base PNG path: #{basepng}
    p Overlay PNG path: #{overlayPngPath}
    p Final PNG path: #{finalpng}
    br
    h4 Error Code: #{errorcode}

