extends layout

block content
    h1 Convert Files Batch ID: #{procid}
    each parms in parmsarr
        h4 job ID: #{parms.jobNum}
        ul
            li PSD file path: #{parms.psdFilePath}
            li overlayLayerName: #{parms.overlayLayerName}
            li overlayPngPath: #{parms.overlayPngPath}
            li baseName: #{parms.baseName}
            li basePng: #{parms.basePng}
            li finalPng: #{parms.finalPng}
            li error: #{parms.ermsg}

